@use "../../mixins";
@use "../../variables" as *;

.currentTemperature {
  grid-area: temp;
  // padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  .temp {
    @include mixins.responsive-text(4.4rem);
    line-height: 1.8;

    .tempUnit {
      @include mixins.unit-text(0.7em, super);
    }
  }

  .tempData {
    text-align: right;
    @include mixins.responsive-text($font-size-medium);

    .tempUnit {
      @include mixins.unit-text(1em, super);
    }
  }
}
