@use "../variables" as *;
@use "../mixins";

.CurrentWeather {
  @include mixins.glassmorphic-card;

  .cityWeather {
    display: grid;
    grid-template-rows: auto 3rem max-content;
    grid-template-areas:
      "main main"
      "temp ."
      "temp table";
    gap: 0.5rem;
    align-items: end;
    overflow: visible;

    .weatherMain {
      grid-area: main;
    }

    .currentTemperature {
      grid-area: temp;
    }

    .weatherTable {
      grid-area: table;
    }
  }
}
