@use "../variables" as *;
@use "../mixins";

.CurrentWeather {
  border: 1px solid black;
  padding: 0 0.5rem 0.2rem;

  .cityInfo {
    border: 1px solid black;
    display: grid;
    justify-content: start;
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "city time"
      "date date";

    .cityName {
      grid-area: city;
      @include mixins.responsive-text(2rem);
    }

    .currentDate {
      grid-area: date;
      font-style: italic;
      font-weight: 200;
    }

    .currentTime {
      grid-area: time;
      justify-self: end;
      @include mixins.responsive-text(2.8rem);
    }
  }

  .cityWeather {
    display: grid;
    grid-template-rows: auto 3rem max-content;
    grid-template-areas:
      "main main"
      "temp ."
      "temp table";
    align-items: end;
    overflow: visible;

    .weatherMain {
      grid-area: main;
      border: 1px solid black;
      height: 4.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .icon {
        font-size: 6em;
        margin-right: 2rem;
        min-height: 0;
        align-self: flex-start;
        line-height: 1;
      }
    }

    .weatherTemp {
      grid-area: temp;
      border: 1px solid black;
      padding-top: 1rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-content: center;
      align-self: stretch;

      .temp {
        font-size: 4rem;
        align-self: center;
        justify-self: center;
        line-height: 1.7;

        .tempUnit {
          @include mixins.unit-text(0.7em, top);
        }
      }

      .tempData {
        text-align: right;
        align-self: center;
        @include mixins.responsive-text($font-size-small);

        .tempUnit {
          @include mixins.unit-text(1em, top);
        }
      }
    }

    .weatherTable {
      border: 1px solid black;
      line-height: 1.4;
      grid-area: table;

      table {
        margin: 0 auto;
      }

      th {
        text-align: right;
      }
    }
  }
}
