@use "../variables" as *;
@use "../mixins";

.CurrentWeather {
  .cityWeather {
    display: grid;
    grid-template:
      "main main" auto
      "temp ." 3rem
      "temp table" min-content
      / auto auto;
    gap: 0.5rem;
    align-items: end;
    overflow: visible;

    .weatherMain {
      grid-area: main;
    }

    .currentTemperature {
      grid-area: temp;
    }

    .weatherTable {
      grid-area: table;
    }
  }
}
