@use "../../mixins";

.cityInfo {
  display: grid;
  justify-content: start;
  grid-template-rows: auto auto;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "city time"
    "date time";

  .cityName {
    grid-area: city;
    @include mixins.responsive-text(2rem);
  }

  .currentDate {
    grid-area: date;
  }

  .currentTime {
    grid-area: time;
    justify-self: end;
    align-self: center;
    @include mixins.responsive-text(2.6rem);
  }
}
