@use "../../mixins";

.weatherMain {
  grid-area: main;
  display: grid;
  grid-template:
    "description description " 1fr
    "description description " 1fr
    ". icon" 0
    / 1fr 1fr;
  align-items: center;

  .description {
    @include mixins.responsive-text(2.5rem);
    grid-area: description;
  }

  .icon {
    grid-area: icon;
    justify-self: end;
  }
}
