@mixin theme-template(
  $primary-bg-start,
  $primary-bg-end,
  $primary-text,
  $secondary-bg,
  $secondary-text,
  $link-text,
  $link-hover,
  $link-active,
  $link-visited,
  $ui-bg,
  $ui-border,
  $ui-text,
  $ui-bg-secondary,
  $ui-text-secondary,
  $placeholder-text,
  $table-bg,
  $table-text,
  $table-border
) {
  /* Base colours */
  background: linear-gradient(
    to bottom,
    $primary-bg-start 20%,
    $primary-bg-end
  );
  background-color: $primary-bg-start;
  color: $primary-text;

  /* Link theme */
  a {
    color: $link-text;
    &:visited {
      color: $link-visited;
    }
    &:hover {
      color: $link-hover;
    }
    &:active {
      color: $link-active;
    }
  }

  /* Button theme */
  .button {
    background-color: $ui-bg;
    border: 2px solid $ui-border;
    color: $ui-text;
    &:hover {
      background-color: darken($ui-bg, 5%);
      border-color: fade-out($ui-border, 0.3);
    }
    &:active {
      border-color: fade-out($ui-border, 0.5);
    }
  }

  /* Text input theme */
  .input {
    background-color: $ui-bg-secondary;
    border: 2px solid $ui-border;
    border-right: 0;
    color: $ui-text-secondary;
    &::placeholder {
      color: $placeholder-text;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $ui-border;
    }
  }

  /* Main weather */
  .weatherMain .description {
    color: $primary-text;
  }

  /* Weather table */
  .weatherTable {
    color: $table-text;
    .accordion-toggle {
      border: 2px solid $table-bg;
      background-color: $table-bg;
      border-radius: 9999px;
    }
    .caret-icon {
      outline: 2px solid $ui-border;
      background-color: $ui-bg;
      color: $ui-text;
    }
    tbody tr:nth-child(even) {
      th {
        border: 2px solid $table-bg;
        background-color: $table-bg;
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
      }
      td {
        border: 2px solid $table-bg;
        background-color: $table-bg;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }
    }
  }

  /* Weather forecast */
  .weatherForecast {
    .dayCard {
      background-color: $table-bg;
      color: $table-text;
      border: 3px solid $table-border;
    }
  }

  /* Footer */
  .cityInfo,
  .footer div,
  .footer footer {
    background-color: $secondary-bg;
    color: $secondary-text;
  }
}
