@import "theme-template";

.App.clear-day {
  @include theme-template(
    $primary-bg-start: #3087c9,
    $primary-bg-end: #84c4f5,
    $primary-text: #fdfdff,

    $secondary-bg: #c3e5f7,
    $secondary-text: #2c3e50,

    $link-text: #8d3c85,
    $link-hover: #b95d80,
    $link-active: #db1a64,
    $link-visited: #9a3760,

    $ui-bg: #d6f0ff,
    $ui-border: #5da2d5,
    $ui-text: #0a2e4d,

    $ui-bg-secondary: #f3fcff,
    $ui-text-secondary: #2c3e50,
    $placeholder-text: #7c8a99,

    $table-bg: #e3f2fd,
    $table-text: #002a4d,
    $table-border: #79b0d5
  );
}

.App.clear-night {
  @include theme-template(
    $primary-bg-start: #572c59,
    $primary-bg-end: #091536,
    $primary-text: #eeeffa,

    $secondary-bg: #9395c2,
    $secondary-text: #12131a,

    $link-text: #330508,
    $link-hover: #610a53,
    $link-active: #750f8f,
    $link-visited: #0f1133,

    $ui-bg: #fef0ae,
    $ui-border: #757687,
    $ui-text: #222136,

    $ui-bg-secondary: #f1f1e6,
    $ui-text-secondary: #363644,
    $placeholder-text: #757687,

    $table-bg: #572c59,
    $table-text: #eeeffa,
    $table-border: #644c7c
  );
}

.App.cloudy-day {
  @include theme-template(
    $primary-bg-start: #9ab6cd,
    $primary-bg-end: #7c95ad,
    $primary-text: #152635,

    $secondary-bg: #dce6ef,
    $secondary-text: #243544,

    $link-text: #a33d36,
    $link-hover: #c95848,
    $link-active: #e2725b,
    $link-visited: #74312d,

    $ui-bg: #3f7c80,
    $ui-border: #2a5c5a,
    $ui-text: #ffffff,

    $ui-bg-secondary: #f4ebdd,
    $ui-text-secondary: #3e4a5a,
    $placeholder-text: #8c98a6,

    $table-bg: #b3c6d5,
    $table-text: #192a3a,
    $table-border: #8296ad
  );
}

.App.cloudy-night {
  @include theme-template(
    $primary-bg-start: #3c4b66,
    $primary-bg-end: #1f2a40,
    $primary-text: #f0f5ff,

    $secondary-bg: #6f90bd,
    $secondary-text: #131c2c,

    $link-text: #ddc47a,
    $link-hover: #ffa07a,
    $link-active: #ff6680,
    $link-visited: #ffdb70,

    $ui-bg: #3f3363,
    $ui-border: #8d7bb3,
    $ui-text: #ffffff,

    $ui-bg-secondary: #c8cae8,
    $ui-text-secondary: #242142,
    $placeholder-text: #8078a0,

    $table-bg: #485b7f,
    $table-text: #ebf1fa,
    $table-border: #6d83a5
  );
}

.App.overcast-day {
  @include theme-template(
    $primary-bg-start: #bae8e4,
    $primary-bg-end: #8db0ad,
    $primary-text: #3b4a49,

    $secondary-bg: #bad6e8,
    $secondary-text: #102d28,

    $link-text: #772252,
    $link-hover: #990057,
    $link-active: #c1447e,
    $link-visited: #5f2441,

    $ui-bg: #743e57,
    $ui-border: #42142c,
    $ui-text: #fcf7fc,

    $ui-bg-secondary: #edfdf9,
    $ui-text-secondary: #02322f,
    $placeholder-text: #36605d,

    $table-bg: #447470,
    $table-text: #e8f3f1,
    $table-border: #336663
  );
}

.App.overcast-night {
  @include theme-template(
    $primary-bg-start: #7486b5,
    $primary-bg-end: #294069,
    $primary-text: #f5f9ff,

    $secondary-bg: #b9cbfd,
    $secondary-text: #2c2f3a,

    $link-text: #005f61,
    $link-hover: #1a8580,
    $link-active: #00c6be,
    $link-visited: #294069,

    $ui-bg: #b14b5d,
    $ui-border: #6f1c33,
    $ui-text: #fff5f7,

    $ui-bg-secondary: #ffc7d7,
    $ui-text-secondary: #574144,
    $placeholder-text: #897174,

    $table-bg: #5e71a1,
    $table-text: #f5f9ff,
    $table-border: #526391
  );
}

.App.shower-day {
  @include theme-template(
    $primary-bg-start: #e6f4f1,
    $primary-bg-end: #76a1a6,
    $primary-text: #002d31,

    $secondary-bg: #f5ece6,
    $secondary-text: #2c323a,

    $link-text: #005b8d,
    $link-hover: #007c8f,
    $link-active: #00a8c2,
    $link-visited: #005c7b,

    $ui-bg: #007688,
    $ui-border: #005464,
    $ui-text: #eef7f5,

    $ui-bg-secondary: #e4feff,
    $ui-text-secondary: #324b50,
    $placeholder-text: #7899a1,

    $table-bg: #e6f4f1,
    $table-text: #002d31,
    $table-border: #94b0b3
  );
}

.App.shower-night {
  @include theme-template(
    $primary-bg-start: #3b72be,
    $primary-bg-end: #1e3a61,
    $primary-text: #f5f9ff,

    $secondary-bg: #a2dbff,
    $secondary-text: #16171b,

    $link-text: #66293a,
    $link-hover: #982545,
    $link-active: #bd5673,
    $link-visited: #511a2a,

    $ui-bg: #ffc233,
    $ui-border: #c07b1a,
    $ui-text: #0b345e,

    $ui-bg-secondary: #fbfaee,
    $ui-text-secondary: #3f362d,
    $placeholder-text: #816056,

    $table-bg: #3b72be,
    $table-text: #f5f9ff,
    $table-border: #0b345e
  );
}

.App.rainy-day {
  @include theme-template(
    $primary-bg-start: #bfcfd9,
    $primary-bg-end: #7495ab,
    $primary-text: #011526,

    $secondary-bg: #bfc7d9,
    $secondary-text: #2c2f3a,

    $link-text: #2e3e66,
    $link-hover: #2e5066,
    $link-active: #2e6166,
    $link-visited: #171f33,

    $ui-bg: #377e72,
    $ui-border: #255659,
    $ui-text: #e0fff7,

    $ui-bg-secondary: #bfd9d2,
    $ui-text-secondary: #414a48,
    $placeholder-text: #586360,

    $table-bg: #bfcfd9,
    $table-text: #1f2a46,
    $table-border: #859ead
  );
}

.App.rainy-night {
  @include theme-template(
    $primary-bg-start: #256689,
    $primary-bg-end: #1f2a46,
    $primary-text: #e1f5f1,

    $secondary-bg: #cef6ff,
    $secondary-text: #2c2f3a,

    $link-text: #004a94,
    $link-hover: #450094,
    $link-active: #750094,
    $link-visited: #3e3194,

    $ui-bg: #b44e4b,
    $ui-border: #811821,
    $ui-text: #fff5f7,

    $ui-bg-secondary: #f5e4e6,
    $ui-text-secondary: #4a0000,
    $placeholder-text: #897174,

    $table-bg: #256689,
    $table-text: #f5f9ff,
    $table-border: #87b0c9
  );
}

.App.thunderstorm {
  @include theme-template(
    $primary-bg-start: #1a1f2e,
    $primary-bg-end: #2c3748,
    $primary-text: #f8f9fa,

    $secondary-bg: #3b5273,
    $secondary-text: #eff6ff,

    $link-text: #ffcc00,
    $link-hover: #ffaa00,
    $link-active: #ff8800,
    $link-visited: #ff6600,

    $ui-bg: #ffcc00,
    $ui-border: #ffaa00,
    $ui-text: #2e3440,

    $ui-bg-secondary: #ffefca,
    $ui-text-secondary: #1a1f2e,
    $placeholder-text: #5c6d85,

    $table-bg: #3a4c61,
    $table-text: #dce5f2,
    $table-border: #607897
  );
}

.App.snowy-day {
  @include theme-template(
    $primary-bg-start: #daf0fc,
    $primary-bg-end: #b9d8eb,
    $primary-text: #0d1c28,

    $secondary-bg: #cde3f2,
    $secondary-text: #1b3e52,

    $link-text: #2d776e,
    $link-hover: #226056,
    $link-active: #1b4c44,
    $link-visited: #133730,

    $ui-bg: #ebf7ff,
    $ui-border: #4dbbff,
    $ui-text: #0d1c28,

    $ui-bg-secondary: #e4f1f9,
    $ui-text-secondary: #2e536a,
    $placeholder-text: #5f8791,

    $table-bg: #b4d6e7,
    $table-text: #0d1c28,
    $table-border: #87a8b5
  );
}

.App.snowy-night {
  @include theme-template(
    $primary-bg-start: #030b1e,
    $primary-bg-end: #141a3f,
    $primary-text: #f0faff,

    $secondary-bg: #232b5e,
    $secondary-text: #d2e5ff,

    $link-text: #a1f3d1,
    $link-hover: #87e8bb,
    $link-active: #6fd8a5,
    $link-visited: #58b68a,

    $ui-bg: #0e0b40,
    $ui-border: #7cc5ff,
    $ui-text: #f0faff,

    $ui-bg-secondary: #2b4468,
    $ui-text-secondary: #d4e5fa,
    $placeholder-text: #7e9cb3,

    $table-bg: #1d2f5a,
    $table-text: #d2e5ff,
    $table-border: #314973
  );
}

.App.misty-day {
  @include theme-template(
    $primary-bg-start: #f6d8d8,
    $primary-bg-end: #f5e2b8,
    $primary-text: #3a2c2c,

    $secondary-bg: #eecac2,
    $secondary-text: #573c3a,

    $link-text: #a53208,
    $link-hover: #ce4c21,
    $link-active: #ff3c00,
    $link-visited: #912105,

    $ui-bg: #fdf4e7,
    $ui-border: #d3a797,
    $ui-text: #3a2c2c,

    $ui-bg-secondary: #f8e0c3,
    $ui-text-secondary: #5e403b,
    $placeholder-text: #b58b7e,

    $table-bg: #f3d0b7,
    $table-text: #3a2c2c,
    $table-border: #d3b6a3
  );
}

.App.misty-night {
  @include theme-template(
    $primary-bg-start: #25262a,
    $primary-bg-end: #3a3f52,
    $primary-text: #e3e5f1,

    $secondary-bg: #5e496e,
    $secondary-text: #f1e7ff,

    $link-text: #a3f7ff,
    $link-hover: #89d9e0,
    $link-active: #6dbac2,
    $link-visited: #528f98,

    $ui-bg: #302c44,
    $ui-border: #ae679d,
    $ui-text: #e3e5f1,

    $ui-bg-secondary: #4f6275,
    $ui-text-secondary: #ffffff,
    $placeholder-text: #b5c2d0,

    $table-bg: #3c4654,
    $table-text: #e3e5f1,
    $table-border: #5c7282
  );
}
