@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@import "weather-themes";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-xs 2xs:text-sm sm:text-base font-librefranklin;
  }
  h1 {
    @apply text-lg 2xs:text-xl whitespace-nowrap;
  }
  h2 {
    @apply text-base 2xs:text-lg;
  }
  h3 {
    @apply text-sm 2xs:text-base;
  }
  p {
    @apply text-xs 2xs:text-sm sm:text-base;
  }
  table {
    @apply w-full border-separate border-spacing-0;
  }
  tr {
    @apply flex items-stretch justify-evenly;
  }
  th,
  td {
    @apply xs:pl-4 sm:pr-1 text-left align-baseline pl-3 pr-1 xs:py-2 2xs:py-1.5;
  }
  th {
    @apply font-normal text-base xs:text-lg 2xl:text-xl flex-1 inline-flex items-center;
  }
  td {
    @apply font-semibold text-lg xs:text-xl 2xl:text-2xl flex-1 inline-flex items-center;
  }
}

@layer components {
  .button {
    @apply py-1.5 px-2 text-sm 2xs:text-base 2xl:text-lg font-bold rounded-xl border-2 
    backdrop-blur-md transition-all duration-300 ease-out 
    shadow-[-3px_3px_0_rgba(0,0,0,0.2)] 
    hover:shadow-[-4px_4px_0_rgba(0,0,0,0.25)] 
    active:scale-[0.98] active:shadow-[-2px_2px_2px_rgba(0,0,0,0.2)];
  }

  .input {
    @apply py-1.5 px-4 border-2 rounded-lg text-sm 2xs:text-base 2xl:text-lg font-semibold
    backdrop-blur-md transition-all duration-300 ease-out
    shadow-[-3px_3px_0_rgba(0,0,0,0.2)]
    hover:shadow-[-4px_4px_0_rgba(0,0,0,0.25)]
    focus:shadow-[-2px_2px_0_rgba(0,0,0,0.3)]
    active:shadow-[-2px_2px_2px_rgba(0,0,0,0.3)];
  }
}

@layer utilities {
  .unit-super {
    @apply text-[0.6em] align-super;
  }
  .unit-top {
    @apply text-[0.6em] align-top items-start;
  }
  .unit-sub {
    @apply text-[0.8em] align-baseline items-end;
  }
}
