@use "../../mixins";
@use "../../variables" as *;

.weatherTable {
  @include mixins.glassmorphic-card;
  line-height: 1.4;
  grid-area: table;

  table {
    margin: 0 auto;
  }

  th {
    text-align: right;
  }
}
