@use "../variables" as *;
@use "../mixins";

button {
  @include mixins.glassmorphic-button;
  @include mixins.responsive-text($font-size-xsmall);
}

.Search {
  z-index: 1;
  .SearchBarTab {
    @include mixins.fullscreen-tab;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.7rem;
    z-index: 2;

    .SearchForm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      .SearchBar {
        margin-left: 8vw;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;

        .SearchInput {
          @include mixins.glassmorphic-input;
          @include mixins.responsive-text($font-size-xsmall);
          border-radius: 10px 0 0 10px;
          flex-basis: 80%;
        }

        .SearchButton {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .Search {
    .SearchBarTab {
      @include mixins.rounded-tab;
      width: 70vw;
      .SearchForm {
        justify-content: left;
        .CurrentButton {
          margin-left: 1vw;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .Search {
    .SearchBarTab {
      width: 65vw;
    }
  }
}
