@use "../variables" as *;
@use "../mixins";

div.Search {
  border: 1px solid black;
  padding: 0 1rem;
}

button {
  @include mixins.glassmorphic-button;
  @include mixins.responsive-text($font-size-xsmall);
}

.Search {
  display: flex;
  align-content: space-evenly;
  justify-content: space-around;
  flex-wrap: wrap;

  .MainHeading {
    margin: 0 auto;
    flex-basis: 100%;
  }

  .SearchBar {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;

    .SearchInput {
      @include mixins.glassmorphic-input;
      @include mixins.responsive-text($font-size-xsmall);
      border-radius: 10px 0 0 10px;
    }

    .SearchButton {
      border-radius: 0 10px 10px 0;
    }
  }
}
