@use "variables" as *;

// Consider combining h1 and search component

// Default layout for xs screens
.App {
  margin: 0.5rem auto;
  padding: 1rem;
  min-width: 90%;
  border: 1px solid black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto auto min-content;
  grid-template-areas:
    "search"
    "current"
    "forecast"
    "footer";
}

.Search {
  grid-area: search;
}

.CurrentWeather {
  grid-area: current;
}

.WeatherForecast {
  grid-area: forecast;
}

.Footer {
  grid-area: footer;
}

/* Responsive Breakpoints */

@media screen and (min-width: $breakpoint-sm) {
  /* small and medium screens */
  .App {
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content auto 1fr min-content;
    grid-template-areas:
      "search forecast"
      "current forecast"
      "footer footer";
  }
}

@media screen and (min-width: $breakpoint-lg) {
  /* large screens */
  .App {
    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "current search"
      "current forecast"
      "footer footer";
  }
}

@media screen and (min-width: $breakpoint-xl) {
  /* xl screens */
  .App {
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: min-content 1.6fr 1.3fr min-content;
    grid-template-areas:
      "current search"
      "forecast forecast"
      "footer footer";
  }
}
