@use "variables" as *;

// Appearing differently on chrome and firefox for some reason! Thinking it has something to do with the grid-template property

// Default layout for xxs screens
.App {
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1px solid black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto auto min-content;
  grid-template-areas:
    "search"
    "current"
    "forecast"
    "footer";
}

.Search {
  grid-area: search;
}

.CurrentWeather {
  grid-area: current;
}

.WeatherForecast {
  grid-area: forecast;
}

.Footer {
  grid-area: footer;
}

/* Responsive Breakpoints */

@media screen and (min-width: $breakpoint-xs) {
  /* xs screens */
  .App {
    grid-template:
      "search search search" 10%
      "current current forecast" auto
      "current current forecast" auto
      "current current forecast" auto
      "footer footer footer" auto
      / 1fr 1fr minmax(8rem, 25%);
  }
}

@media screen and (min-width: $breakpoint-sm) {
  /* small and medium screens */
  .App {
    grid-template:
      "search search forecast" 10%
      "current current forecast" auto
      "current current forecast" auto
      "current current forecast" auto
      "footer footer footer" auto
      / 1fr 1fr minmax(8rem, 25%);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  /* large screens */
  .App {
    width: 85%;
    grid-template:
      "search forecast" 10%
      "current forecast" auto
      "current forecast" auto
      "current forecast" auto
      "footer footer" auto
      / auto auto;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  /* xl screens */
  .App {
    width: 70%;
    //   grid-template-columns: 1.4fr 0.6fr;
    //   grid-template-rows: min-content 1.6fr 1.3fr min-content;
    //   grid-template-areas:
    //     "current search"
    //     "forecast forecast"
    //     "footer footer";
  }
}
