@use "variables" as *;
@use "mixins";

// Appearing differently on chrome and firefox for some reason! Thinking it has something to do with the grid-template property

// Default layout for xxs screens
.App {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto auto min-content;
  grid-template-areas:
    "current"
    "forecast"
    "footer";
}

.CurrentWeather {
  grid-area: current;
}

.WeatherForecast {
  grid-area: forecast;
}

.Footer {
  grid-area: footer;
}

/* Responsive Breakpoints */

// @media screen and (min-width: $breakpoint-sm) {
//   /* xs screens */
//   .App {
//     margin: 0.5rem auto;
//     grid-template:
//       ". . forecast" 3rem
//       "current current forecast" auto
//       "current current forecast" auto
//       "current current forecast" auto
//       "footer footer footer" auto
//       / 1fr 1fr minmax(8rem, 25%);
//   }
// }

@media screen and (min-width: $breakpoint-md) {
  /* medium screens */
  .App {
    margin: 0.5rem auto;
    grid-template:
      ". . forecast" 3rem
      "current current forecast" auto
      "current current forecast" auto
      "current current forecast" auto
      "footer footer footer" auto
      / 1fr 1fr minmax(8rem, 25%);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  /* large screens */
  .App {
    width: 90%;
    grid-template:
      ". forecast" 3rem
      "current forecast" auto
      "current forecast" auto
      "current forecast" auto
      "footer footer" auto
      / 5fr 2fr;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  /* xl screens */
  .App {
    width: 80%;
    //   grid-template-columns: 1.4fr 0.6fr;
    //   grid-template-rows: min-content 1.6fr 1.3fr min-content;
    //   grid-template-areas:
    //     "current search"
    //     "forecast forecast"
    //     "footer footer";
  }
}
