@use "variables" as *;

/* mixins */

@mixin responsive-text($base-size) {
  font-size: $base-size;

  @media (min-width: $breakpoint-xs) {
    font-size: calc(#{$base-size} * 1.1);
  }

  // @media (min-width: $breakpoint-md) {
  //   font-size: calc(#{$base-size} * 1.2);
  // }

  @media (min-width: $breakpoint-lg) {
    font-size: calc(#{$base-size} * 1.3);
  }
}

@mixin unit-text($base-size: 1em, $align: baseline) {
  font-size: calc(#{$base-size} / 1.5);
  vertical-align: $align;
}

@mixin glassmorphic-button(
  $blur: 10px,
  $bgColour: #ffffff1a,
  $hoverBgColour: #ffffff66,
  $borderColour: #ffffff33
) {
  padding: 0.6rem 0.5rem;
  border-radius: 10px;
  border: 1px solid $borderColour;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: $bgColour;
  backdrop-filter: blur($blur);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $hoverBgColour;
  }

  &:active {
    background: darken($hoverBgColour, 10%);
    box-shadow: 0 2px 4px #00000033;
  }
}

@mixin glassmorphic-input(
  $blur: 10px,
  $bgColour: #ffffff1a,
  $borderColour: #ffffff33
) {
  padding: 0.6rem 1rem;
  margin: 0;
  border-radius: 10px;
  border: 1px solid $borderColour;
  background: $bgColour;
  backdrop-filter: blur($blur);
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: #57cefa;
    background: #ffffff33;
  }
}

@mixin glassmorphic-card(
  $blur: 10px,
  $bgColour: #ffffff1a,
  $borderColour: #ffffff33,
  $shadowColour: rgba(0, 0, 0, 0.1)
) {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid $borderColour;
  box-shadow: 0 4px 6px $shadowColour;
  background: $bgColour;
  backdrop-filter: blur($blur);
}

@mixin indented-glassmorphic-card(
  $blur: 10px,
  $bgColour: #ffffff1a,
  $borderColour: #ffffff57,
  $shadowColour: rgba(0, 0, 0, 0.1)
) {
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
  border: 1px solid $borderColour;
  box-shadow: inset 0 -4px 6px $shadowColour;
  background: $bgColour;
  backdrop-filter: blur($blur);
}

@mixin fullscreen-tab($blur: 10px, $bgColour: #ffffff2d) {
  background: $bgColour;
  width: 100vw;
  backdrop-filter: blur($blur);
}

@mixin rounded-tab($radius: 25px, $bgColour: #ffffff1a, $blur: 10px) {
  width: fit-content;
  // padding-inline: 0.5em;
  border-right: $radius solid #00000000;
  border-radius: 0 0 calc(2 * $radius) 0 / #{$radius};
  mask: radial-gradient($radius at 100% 100%, #00000000 98%, #000 101%) 100% 0 /
      #{$radius} #{$radius} no-repeat,
    conic-gradient(#000 0 0) padding-box;
  background: $bgColour border-box;
  backdrop-filter: blur($blur);
}
