$font-size-xsmall: 0.9rem;
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2.2rem;
$font-size-xlarge: 2.5rem;

$breakpoint-xs: 480px;
$breakpoint-sm: 625px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
