$font-size-xsmall: 0.875rem; // 12px
$font-size-small: 1rem; // 16px
$font-size-medium: 1.25rem; // 20px
$font-size-large: 1.5rem; // 24px
$font-size-xlarge: 1.75rem; // 28px

$breakpoint-xs: 480px;
$breakpoint-sm: 560px;
$breakpoint-md: 670px;
$breakpoint-lg: 768px;
$breakpoint-xl: 992px;
