@use "../utilities/primitives" as primitives;

@mixin base-styles {
  @layer base {
    @include primitives.spacing-tokens();

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    html,
    body,
    #root {
      min-height: 100%;
    }

    body {
      @apply m-0;
    }

    img,
    svg,
    video,
    canvas {
      display: block;
      max-width: 100%;
    }

    button,
    input,
    select,
    textarea {
      font: inherit;
      color: inherit;
    }

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
